body {
    background-color: blueviolet;
}
h1 {
    color:rgb(206, 144, 144)
}
button {
    background-color: blue;
}
button {
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
}
    